.menu {
    margin: 125px auto;
    width: 550px;
    height: 300px;
    padding: 23px;
    background-color:  #F4B400;
    color: #fff;
}

h1 span{
    color: #000;
}

.menu h1{
    display: flex;
    justify-content: center;
}

#lista {
    font-size: 25px;
    text-decoration: none;
}

ul li a{
    text-decoration: none;
}

ul li{
    margin: 10px;
}

p{
    font-size: 18px;
    font-weight: bold;
    color: black;
    display: flex;
    justify-content: center;
}
